body{
  background: linear-gradient(90deg, #dedeec 25% , rgb(10, 177, 232) 80%);
}

.App{
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;

}
h1{
  font-family: 'Courier New', Courier, monospace;
  color:rgb(247, 0, 255);
  background-color: rgba(0, 3, 3, 0);
}